body{
    background:#0b0b0b;
    color:white;
    font-family:monospace;
    text-align:center;
    margin:0;
    padding:20px;
}

h1{
    color:#ff8800;
}

.container{
    max-width:1200px;
    margin:auto;
}

.dashboard{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:15px;
    margin-top:20px;
}

.card{
    background:#111;
    border:1px solid #ff8800;
    border-radius:15px;
    padding:20px;
    box-shadow:0 0 10px rgba(255,136,0,0.3);
}

.card h3{
    color:#ff8800;
    margin-bottom:10px;
}

.card span{
    font-size:24px;
    color:#00eaff;
    font-weight:bold;
}
